<div class="col justify-content-center d-flex">
    <div class="container justify-content-center">
        <div class="card d-block shadow">
            <div class="card-header border text-center bg-warning bg-gradient">
                <h4>Sign Up</h4>
            </div>
            <div class="card body pt-3">
                    
                
                <form class="form">


                        <div class="form-floating mb-3">
                            <input id="fname" class="form-control" type="text">
                            <label for="fname">First Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input id="fname" class="form-control" type="text">
                            <label for="fname">Last Name</label>
                        </div>
               
     

             
                    
                        <div class="form-floating mb-3">
                            <input id="email" class="form-control" type="email">
                            <label for="email">Email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input id="mobile" class="form-control" type="tel">
                            <label for="mobile">Mobile Number</label>
                        </div>
      

                
                </form>
    
            </div>
            <div class="card-footer border">
                <div class="form-group">
                    <button  class="btn btn-info" type="submit" id="submit">Submit</button>
                </div>
            </div>

        </div>
    </div>

</div>
