<nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
      <a class="highlights navbar-brand">Fullerton <img src="../../assets/images/fullertonbranding.png" alt="No Image Found"><div class="centered">Grihashakti</div></a>
      <form class="d-flex input-group w-auto">
        <button class="btn btn-outline" type="button">
          Sign in/ Register
        </button>
      </form>
    </div>
  </nav>

  <div class="container d-flex justify-content-center pt-5">
      <div class="row vertical-align-center">
       <h1><b> Find your <a class="highlights">dream</a> property here!</b></h1>
      </div>
  
</div>