<div class="container d-flex col justify-content-center pt-5">
    <div class="card d-block shadow">
        <div class="card-header text-center bg-warning bg-gradient">
            <h4>Grihashakti Login</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="gsLogin" class="form">

                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="mobile">Enter Mobile Number</label>
                        <input type="tel" formControlName="mobile" class="form-control" id="mobile" placeholder="Mobile Number"> 
                        <button type="submit" (click)="sendOtp()" class="btn btn-info">Send OTP</button>
                        
                    </div>
                    <small *ngIf="mobile.touched && mobile.invalid" class="text-danger">
                        <small *ngIf="mobile.errors?.required" class="text-danger"> Mobile number is required!</small>
                        <small *ngIf="mobile.errors?.pattern" class="text-danger"> Please enter valid mobile number!</small>
                    </small>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="Mobile">Enter OTP</label>
                        <input type="tel" formControlName="otp" class="form-control" id="Otp" placeholder="6-Digit OTP"> 
                        <button type="submit" (click)="verifyOtp()" class="btn btn-info">Verify</button>
                        <small class="text-danger">*</small>
                    </div>
                    <small *ngIf="otp.touched && otp.invalid" class="text-danger">
                        <small *ngIf="otp.errors?.required" class="text-danger"> OTP is required!</small>
                        <small *ngIf="otp.errors?.pattern" class="text-danger"> Please enter valid OTP</small>
                    </small>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <div class="input-group">
                <label class="input-group-text" for="SignUp">New User?</label>
                <button id="SignUp" (click)="signup()" class="btn btn-info">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<button type="button" (click)="signup()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
data-bs-backdrop="static" data-bs-keyboard="false"
>
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-signup *ngIf="activateSignup"></app-signup>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
